@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/***** General Setup *****/

:root {
  --light-text: #fff;
  --dark-text: #333;
  --white-background: #fff;
  --gray-background: #e4e5e7;
  --dark-background: #1c1e23;
}

* {
  box-sizing: border-box;
}

html {
  font: 16px 'PT Sans', Arial, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1400px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

#skip-link {
  background-color: #231F20;
  border: #fff double 6px;
  color: #fff;
  padding: .5rem;
  position: absolute;
  text-decoration: none;
  top: -9999px;
}

#skip-link:focus {
  left: 1rem;
  top: 1rem;
}

#nav-trigger,
#nav-box {
  display: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

/***** Header *****/

h1 {
  display: none;
}

nav li {
  display: inline-block;
}

header {
  align-items: center;
  background-color: var(--white-background);
  display: flex;
  position: relative;
}

header > img {
  margin-left: 50px;
}

header ul {
  background-color: var(--dark-background);
  border-radius: 10px;
  left: 30%;
  padding: 10px 15px;
  position: relative;
}

header a {
  color: var(--light-text);
  padding: 10px;
}

header div {
  left: 90%;
  position: absolute;
}

header div span:last-of-type {
  background-color: var(--gray-background);
  border-radius: 50%;
  padding: 5px 8px;
}

/***** Main *****/

main {
  background-color: var(--gray-background);
}

/* Secondary Nav */

main > div:first-of-type {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

main div li {
  padding: 0 10px 0 25px;
}

main div li a {
  color: var(--dark-text);
}

main > div {
  position: relative;
}

main > div form {
  position: absolute;
  right: 3%;
}

main > div form input {
  background: url(../img/search.png) content-box no-repeat;
  border: none;
  padding: 5px;
}

main > div form input:placeholder-shown {
  color: var(--dark-text);
  text-indent: 20px;
}

/* Banner */

#hero {
  background-color: var(--dark-background);
  color: var(--light-text);
  display: flex;
}

#hero div {
  padding: 5rem;
}

#hero img {
   margin-right: 150px;
}

#hero button {
  background-color: #2754eb;
  border: none;
  border-radius: 25px;
  color: var(--light-text);
  padding: 10px 30px;
}

/* Main article */

article {
  margin: 0 auto;
  width: 90%;
}

/* Filters form */

article form {
  background-color: var(--white-background);
  border-radius: 5px;
  color: var(--dark-text);
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding: 10px 20px;
}

#keyword,
#price-min,
#price-max {
  background-color: var(--gray-background);
  border-radius: 10px;
  box-shadow: none;
}

#price-min,
#price-max   {
  width: 5%;
}

/* Product cards */

article form + section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  text-align: center;
}

article a {
  color: var(--dark-text);
}

.products {
  background-color: var(--white-background);
  border-radius: 5px;
  padding: 2rem;
}

.products p {
  font-size: 20px;
}

article section section:nth-of-type(7) {
  grid-column: 3 / 5;
  padding: 0;
  position: relative;
  text-align: left;
}

article section section:nth-of-type(7) img {
  width: 100%;
}

article section section:nth-of-type(7) p,
article section section:nth-of-type(7) span{
  padding-left: 1rem;
}

article section section:nth-of-type(7) span:nth-of-type(3),
article section section:nth-of-type(7) span:nth-of-type(4) {
  background-color: var(--white-background);
  border: 1px solid #e4e5e7;
  bottom: 5%;
  padding: 5px 20px;
  position: absolute;
}

article section section:nth-of-type(7) span:nth-of-type(3) {
  border-radius: 20px 0 0 20px;
  left: 50%;
  padding-right: 2.5rem;
}

article section section:nth-of-type(7) span:nth-of-type(4) {
  border-radius: 0 20px 20px 0;
  left: 65%;
}

article section section:nth-of-type(7) span:nth-of-type(2) {
  background-color: var(--dark-background);
  border-radius: 10px;
  bottom: 85%;
  color: var(--light-text);
  left: 5%;
  letter-spacing: 2px;
  padding: .5rem;
  position: absolute;
}

/* Pagination */

article > div {
  background-color: var(--white-background);
  border-radius: 10px;
  display: flex;
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
}

article div a {
  padding: 1rem;
}

article div a:first-of-type,
article div a:last-of-type {
  flex-basis: 15%;
}

article div div {
  flex-basis: 70%;
  padding: 1rem .5rem;
}

article div a:nth-of-type(4) {
  border-radius: 50px;
  box-shadow: 0 0 10px -5px #333;
}

/* Best Sellers section */

article div + section {
  background-color: var(--white-background);
  border-radius: 10px;
  margin: 2rem 0;
  text-align: center;
}

article div + section h3 {
  padding: 1rem;
}

article div + section section {
  display: inline-block;
  padding-bottom: 1rem;
  width: 24%;
}

article div + section span:first-of-type {
  display: block;
  padding-bottom: 1rem;
}

article div + section p {
  font-size: 20px;
}

article div + section span:nth-of-type(2) {
  text-decoration: line-through;
}

/* Testimonials */

aside {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

aside h3 {
  font-weight: lighter;
}

aside p {
  padding-bottom: 2rem;
}

aside div {
  grid-column: 1 / 6;
}

aside div + section:nth-of-type(1) {
  grid-column: 2 / 3;
}

aside section section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  text-align: left;
}

aside section img {
  grid-row: 1 / 2;
}
aside section span:nth-of-type(1) {
  grid-column: 2 / 4;
  grid-row: 1;
}

aside section span:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 2;
}

blockquote {
  margin: 0;
  padding: 0 1rem;
  text-align: left;
}

/* Footer */

footer {
  background-color: var(--dark-background);
  margin-top: 2rem;
  padding-top: 2rem;
}

footer a {
  color: var(--light-text);
}

footer > section {
  align-items: center;
  border-bottom: dotted 1px #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  padding-bottom: 2rem;
  text-align: center;
}

footer section img {
  grid-column: 2 / 3;
}

footer section div {
  justify-self: end;
}

footer section div a {
  padding: .5rem;
}

footer section > a {
  padding: 2rem;
}

footer section > a:nth-of-type(1) {
  grid-column: 3 / 4;
  justify-self: end;
}

/***** Media Queries *****/

@media screen and (max-width: 1400px) {
  h2 {
    font-size: calc(30px + (48 - 30) * (100vw - 400px) / (1400 - 400));
  }

  h3 {
    font-size: calc(20px + (32 - 20) * (100vw - 400px) / (1400 - 400));
  }
}

@media screen and (max-width: 965px) {
  article section section:nth-of-type(7) span:nth-of-type(3),
  article section section:nth-of-type(7) span:nth-of-type(4) {
    border-radius: 20px;
    padding: 5px 10px;
  }

  article section section:nth-of-type(7) span:nth-of-type(3) {
    left: 30%;
  }

  article section section:nth-of-type(7) span:nth-of-type(4) {
    left: 70%;
  }

  aside,
  aside span,
  aside section section {
    display: block;
  }

  aside section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  aside span {
    padding: .5rem;
  }

  blockquote {
    border-bottom: dashed 1px #333;
    padding-bottom: 1rem;
    width: 60%;
  }
}

@media screen and (max-width: 868px) {
  header {
    flex-direction: column;
  }

  header > img {
    margin-left: 0;
    padding-top: 1rem;
  }

  header nav {
    align-self: flex-start;
    width: 60%;
  }

  header div {
    left: 0;
    padding-bottom: 1rem;
    position: relative;
  }

  main > div form {
    position: relative;
    right: 0;
  }

  article section section:nth-of-type(7) span:nth-of-type(4) {
    border-radius: 20px;
    left: 60%;
  }
}

@media screen and (max-width: 785px) {
  main > div {
    flex-wrap: wrap;
  }

  #hero p {
    display: none;
  }

  article form {
    align-items : center;
    flex-direction: column;
  }

  article form label {
    padding-top: .5rem;
  }

  #price-max::placeholder,
  #price-min::placeholder {
    color: transparent;
  }

  footer > section {
    display: block;
  }
}

@media screen and (max-width: 713px) {
  header nav {
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
  }
  
  header nav ul {
    display: none;
    padding: 0;
  }
  
  header nav li {
    display: block;
  }
  
  header nav a {
    color: var(--light-text);
    display: block;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: none;
  }
  
  #nav-trigger {
    color: var(--dark-text);
    cursor: pointer;
    display: block;
    padding: 1rem;
    text-align: center;
  }
  
  #nav-box:checked + ul {
    display: block;
    width: 50%;
  }
}

@media screen and (max-width: 676px) {
  main nav {
    display: none;
  }
  article form + section,
  article div + section section {
    display: block;
  }

  .products,
  article div + section section {
    border-top: 1px solid #333;
  }

  article div + section section {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  #hero {
    display: block;
    text-align: center;
  }

  article section section:nth-of-type(7) span:nth-of-type(3) {
    left: 40%;
  }

  article div a:first-of-type,
  article div a:last-of-type {
    flex-basis: 10%;
  }

  article div div {
    flex-basis: 90%;
    padding: 1rem .25rem;
  }

  article div a:nth-of-type(7),
  article div a:nth-of-type(8),
  #hero img {
    display: none;
  }
}

@media screen and (max-width: 422px) {
  footer section > a {
    display: block;
  }  
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
}
